<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>FlexBox</title>
</head>

<body>
    <header>
        <a href="#">Logo</a>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#produtos">Produtos</a></li>
                <li><a href="#contatos">Contatos</a></li>
            </ul>
        </nav>
    </header>

    <section class="flex">
        <div>
            <img src="./img/lobo1.jpg" alt="">
            <p>Info</p>
        </div>
        <div>
            <img src="./img/lobo2.jpg" alt="">
            <p>Info</p>
        </div>
        <div>
            <img src="./img/lobo3.jpg" alt="">
            <p>Info</p>
        </div>
        <div>
            <img src="./img/lobo1.jpg" alt="">
            <p>Info</p>
        </div>
        <div>
            <img src="./img/lobo2.jpg" alt="">
            <p>Info</p>
        </div>
        <div>
            <img src="./img/lobo3.jpg" alt="">
            <p>Info</p>
        </div>
    </section>

</body>

</html>